# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# MkDocs build files
site/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Python tools
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

_private/
